
#error404{
    background: url(../img/error404.jpg) no-repeat right center;
    height: calc(100vh - 56px);
    display: block;
    position: relative;
    background-size: 626px 626px;
} 

#error404 h1{
    font-size: 8rem;
    margin-top: 2rem;
}

label, input{
    display: block;
    width: 150px;
    float: left;
}

.form{
    display: inline-block;
}


.back-cover{
    background-color: white;
    opacity: 30%;
}

.grid-item{
    width: calc(33vw - 30px);
    float: left;
    margin-bottom: 30px;
}

.grid-item img{
    width: 100%;
    height: auto;
}

body{
    background: url(../img/pawel-czerwinski-W_mfoOi1Elc-unsplash.jpg);
}

#wellcome-text{
    padding-top: 30vh;
}