
    {% extends "base.html" %}
    {% block main %}
    <div id="images" class="container-fluid">
		<div class="row">
			<div class="col">
				<h2 style="color: white;">{{ title }}</h2>
				{% with messages = get_flashed_messages() %}
					{# Handle messages here #}
				{% endwith %}
				{% if images %}
					<div class="grid">
						{% for image_object in images.each() %}
							{% with image = image_object.val() %}
							<div class="grid-item" data-image='{{ image|tojson }}'>
								<figure class="filter-{{ image.filter }}">
									<img id="photo-pop-up" src="{{ image.upload_location }}" alt="{{ image.description }}">
								</figure>
								<a href="/images/delete/{{ image.id }}"><i class="fas fa-trash-alt"></i></a>
								<a href="/images/edit/{{ image.id }}"><i class="fas fa-edit"></i></a>
							</div>
							{% endwith %}
						{% endfor %}
						</div>
				{% endif %}
			</div>
		</div>
    </div>
    {% endblock %}