    {% extends "base.html" %}
    {% block  main %}
    <div style="background: url(../img/pawel-czerwinski-W_mfoOi1Elc-unsplash.jpg);">
      <div class="container" id="home-container">
        <div class="row" style="padding-top: 30vh; padding-bottom: 69vh;">
          <div class="col-md-6 offset-md-3" >
            <h3 style="color: white;">wellcome to --------</h3>
          </div>
        </div>
        {% if images %}
          <div class="grid">
            {% for image_object in images.each() %}
              {% with image = image_object.val() %}
              <div class="grid-item" data-image="{{ image|tojson }}">
                <img src="{{ image.upload_location }}" alt="{{ image.description }}">
              </div>
              {% endwith %}
            {% endfor %}
          </div>
      {% endif %}
      </div>
    </div>
    {% endblock %}